@import "_compass";
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato'),url(//brick.a.ssl.fastly.net/fonts/lato/400.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato'),url(//brick.a.ssl.fastly.net/fonts/lato/400.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato'),url(//brick.a.ssl.fastly.net/fonts/lato/700.woff) format('woff');
}
@mixin nav-button {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	padding: 2rem;
	font-size: 1.2rem;
	text-align: center;
}
@mixin transition {
	@include transition-property(all);
	@include transition-duration(.2s);
	@include transition-timing-function(ease-in-out);
}

$lato-family:'Lato';

$azul:#2caddd;
$azul-claro:#c7e1f5;
$orange:#e67e22;
$gold:#ffb419;
$ocean:#1abc9c;
$sunset:#f39c12;
$charcoal:#4f4f4f;
$offgray:#f0f0f0;

/* ------ GENERAL STYLES----------------------*/

body {
	background: url(../img/lined-bg.jpg) repeat;
}
section {
	background: $offgray;
}
span.req {
    color: red;
}
.icon-set {
    img {
        margin-bottom:2em;
    }
    .icon-img:hover img {
        cursor: pointer;
        opacity: 0.15;
    }

    .icon-img .icon-text {
        opacity: 0;
        line-height: 150%;
        padding: 80px 60px 0 40px;
        position: absolute;
        text-align: center;
    }

    .icon-img:hover .icon-text {
        opacity: 1;
        position: absolute;
    }
}
form.wufoo {
    h2, li, label {
        text-align: left;
    }
    input {
        padding: 0 .3rem;
        border-radius: 0;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        color: $charcoal;
    }
    select.select {
        padding: .5rem;
    }
    .button {
        padding: 1rem;
        border: none;
        box-shadow: none;
    }
    legend.desc {
        background: none;
    }
    input[type="checkbox"] + label {
        margin-left: 1rem;
    }
}
/* ------ TYPOGRAPHY OVERRIDES----------------------*/

h1, h2, h3, h4 {
	font-family: $lato-family;
	font-weight: 700;
	text-transform: uppercase;
}
p, li, a {
	font-family: $lato-family;
	font-weight: 400;
}

/* ------ SLIDER  STYLES----------------------*/

section.icons {

	img.pack-logo-index {
		margin-bottom: 2rem;
	}
	h2 {
		color: $charcoal;
		font-size: 1.2rem;
		text-align: center;
		margin-top: 4rem;
	}
	.cta-main {
		margin: 4rem auto;
		p {
			color: $azul;
			text-align: center;
			font-size: 2.5rem;
		}
		a.button {
			text-transform: uppercase;
		}
	}
}
section.lead {
    margin: .5rem 0;
    background: darken($offgray, 5%);
    padding: 3rem;
    p {
        margin-bottom: 0;
    }
}
.button-alt {
	a.button {
		text-transform: uppercase;

	}
}
/* ------ NAV STYLES----------------------*/
section.main-nav {
	position: fixed;
	left: 0;
	height: 100%;
	background: $azul;
	@include transition;
	ul {
		list-style: none;
		margin-left: 0;
		li {
			a {
				display: block;
				color: white;
				@include nav-button;
				@include transition;
				&:hover {
					background: darken($azul,15%);
				}
				span {
					display: block;
				}
				span.packs-dropdown {
					position: relative;
					&:after {
						content: url(../img/dropdown-arrow.png);
						width: 17px;
						height: 8px;
						position: absolute;
					}
				}
			}
			&:nth-child(odd) {
				background: darken($azul,5%);
			}
		}
		ul.dropdown {	// START DROPDOWN STYLES
			display: none;
			li {
				&:nth-child(odd) {
					background:$azul;
				}
				a {
					font-size: .9rem;
					&:hover {
						color: darken($azul,25%);
						background: none;
					}
				}
			}
		}
	}
}
hr.dd-divider {
	width: 55%;
	margin-top: .6rem;
	margin-bottom: .5rem;
}
ul.off-canvas-list li {
	a {
		text-transform: uppercase;
		color: white;
		&:hover {
			background: $azul;
		}
		img {
			width: 10%;
			margin-right: .7rem;
		}
	}
	ul {
		list-style: none;
		margin-left: 0;
		li a {
			font-size: .6rem;

		}
	}
}
/* ------ MAIN CONTENT STYLES----------------------*/
.main-container {
	position: relative;
	min-height: 940px;
    .welcome-text {
        text-align: center;
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 2rem;
            color: $charcoal;
        }
    }
	section.welcome {
		text-align: center;
		h1 {
			color: $charcoal;
			text-align: center;
			margin-top: 4rem;
		}
		p {
			color: $charcoal;
			text-align: center;
			font-size: 1.1rem;
			margin-bottom: 4rem;
		}
	}
	section.patient-refer {
		text-align: center;
		padding: 3rem 0;
		article {
			h2 {
				color: $azul;
				font-size: 1.5rem;
				margin:1rem 0;
			}
			p {
				color: $charcoal;
			}
			a {
				.circle {
					background: $azul;
					margin: 0 auto;
					width: 200px;
					height: 200px;
					position: relative;
					h3 {
						text-align: center;
						font-size: 1.2rem;
						text-transform: uppercase;
						color: white;
						font-weight: 400;
						position: absolute;
						top:35%;
						left:13%;
						width:75%;
					}
					border-radius: 50%;
					-webkit-border-radius: 50%;

					@include transition;
					&:hover {
						background: darken($azul,15%);
					}
				}
			}
		}
	}

	section.subpage-blue {
		background: #F0F0F0;
		background-size: cover;
		color:$charcoal;
		.row {
			max-width: 85%;
		}
		a.button {
			text-transform: uppercase;
		}
		p {
			margin-bottom: 2rem;
			font-size: 1.2rem;
		}
        ol {
            margin-left: 1rem;
            li {
                font-size: 1.2rem;
            }
        }
		h1 {
			background: white;
			color: $charcoal;
			text-align: left;
			margin-bottom: 2rem;
			position: relative;
			span.header-icon {
				position: absolute;
				width: 40px;
				height: 40px;
			}
		}
		h2, h3 {
			color: $charcoal;
		}
        ul.pipeline-2014 {
            margin-left: 0;
            margin-top: 3rem;
            list-style: none;
            li {
                background: $azul;
                color: white;
                text-align: center;
                font-size: .85rem;
                padding: .7rem 2rem;
                margin-bottom: .7rem;
            }
        }
        .with-arrow {
            position: relative;
            span.arrow-large {
                position: absolute;
                top: 24%;
                right: -40px;
                width: 0;
            	height: 0;
            	border-top: 100px solid transparent;
            	border-bottom: 100px solid transparent;
            	border-left: 30px solid $azul;
                @media #{$small-only} {
                    position: relative;
                	border-left: 100px solid transparent;
                	border-right: 100px solid transparent;
                	border-top: 20px solid $azul;

                }
            }
        }
        p.button {
            margin-top: 31%;
            margin-left: 3rem;
            @media #{$small-only} {
                margin-left: 0;
                margin-top: 1rem;
            }
        }
        .gray-box {
            margin-top: 3rem;
            @include panel($charcoal, 1rem);
            p {
                color: white;
            }
        }
	}
}
.what-happens {
    margin-bottom: 2rem;
}
.more-instructions {
    ul {
        border-left: 2px solid $azul;
        margin-top: 2rem;
        padding-left: 2rem;
        li {
            font-size: 1rem;
            text-align: left;
            margin-bottom: 1rem;
            span {
                background: $azul;
                padding: .5rem;
                color: white;
            }
        }
    }
}
form {
	padding: 2rem 0;
	textarea {
		height: 12rem;
	}
}
.error {
	font-family: $lato-family;
	color: red;
}
.contact-info {
	margin-top: 2rem;
	h2 {
		font-size: 1.5rem;
	}
	p {
		margin-bottom: 0 !important;
		font-size: .9rem;
	}
}
.section-push {
	margin-bottom: 4rem;
}
.th:hover, .th:focus {
	-webkit-box-shadow: none;
	box-shadow: none;

}
/* ------ FOOTER STYLES----------------------*/

footer {
	padding: 1rem 0;
	background: $charcoal;
	padding: 1rem;
	.logo-footer {
		display: inline;
		img {
			width: 25%;
			margin-right: .5rem;
			display: inline;
		}
		p {
			margin-bottom: 0;

			color: white;
			font-size: 1rem;
		}
	}
	.zeekee-slug {
		text-align: center;
	}

}
/* ------ MEDIA QUERIEEES----------------------*/

@media #{$small-only} {
	.main-container section.welcome {
		padding: 6rem .5rem;
		background: url(../img/slider-2.jpg) no-repeat center top;
		background-size: cover;
		h1 {
			color: white;
			margin-top: 4rem;
			font-size: 1.6rem;
			position: relative;
			&:before {
				content: url(../img/book-icon.svg);
				position: absolute;
				width: 50px;
				height: 50px;
				top:-3.8rem;
				left: 43%;

			}
		}
		p {
			margin: 1rem 0;
			color: white;
			font-size: 1rem;
		}
		a.button {
			text-transform: uppercase;
			font-style: italic;
			background: $azul;
			&:hover {
				background: darken($azul,5%);
			}
		}
	}
	section.left-small {
		background: $azul;
	}
	a.menu-icon {
		text-indent:3.4rem;
		line-height: 2.5rem;
		width: 5rem;
	}

	section.patient-refer {
		h2 {
			margin-top: 0;
			font-size: 1.5rem;
			color: $charcoal;
		}
		p {
			color: $charcoal;
			font-size: .9rem;
		}
		article {
			margin-bottom: 1rem;
		}
	}
	section.subpage-blue {
		padding-top: 2rem;
		h1 {
			padding:.5rem 0 .5rem 5rem;
			font-size: 1.8rem;
			span.header-icon {
				top:5px;
				left:25px;
			}
		}
		h2 {
			font-size: 1.3rem;
			span.about-icon {
				img {
					width: 20%;
					height: 20%;
				}
			}
		}
		h3 {
			span.prescribe-icons {
				img {
					display: block;
					width: 4rem;
					height: 4rem;
				}
			}
		}
		h3.has-icon {
			padding-left: 0;
		}

	}
    section.icons {
        img {
            margin-top: 2rem;
        }
        .cta-main {
            p {
                font-size: 1.5rem;
            }
        }
    }
    section.lead {
        margin-top: 0;
        padding: 2rem 0;
    }
	footer {
		p {
			text-align: center;
		}
		.logo-footer {
			margin: 1rem 0;
		}
	}
    form.wufoo {
        li {
            width: 100%;
        }
    }
}
@media #{$medium-only}{
	section.main-nav ul li a span {
		margin-top: .3rem;
	}
	section.welcome {
		padding-top: 2rem;
	}
	section.slider {
		h1 {
			padding-top: 4rem;
			position: relative;
			font-size: 1.2rem;
			&:before {
				content: url(../img/book-icon-white.svg);
				position: absolute;
				width: 50px;
				height: 50px;
				top:0;
				left: 46%;
			}
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}
	section.subpage-blue {
		padding-top: 1rem;
		span.about-icon {
			img {
				margin-left: 1rem;
				width: 20%;
				height: 20%;
			}
		}
		h3 {
			span.prescribe-icons {
				img {
					display: block;
					width: 4rem;
					height: 4rem;
				}
			}
		}
		h3.has-icon {
			padding-left: 0;
		}

	}

}

@media #{$medium-up} {
    section.icons {
        img {
            margin-top: 10rem;
        }
    }
	section {
		max-width: 100rem;
	}
	section.slider {
		margin-left: 9rem;
		.orbit-container .orbit-slides-container > * .orbit-caption {
			top:5%;
		}
	}
	hr.dd-divider {
		margin-left: 2rem;
	}
	.main-container {
		margin-left: 9rem;
	}
	section.main-nav {
		width: 9rem;
		.logo-wrap {
			height: 6rem;
			padding: 1rem;
			img {
				margin-top: 15%;
			}
		}
		ul {
			li {
				a {
					padding: 1.5rem;
					font-size: .9rem;
					img {
						width: 25%;
					}
					span {
						margin-top: .4rem;
					}
					span.packs-dropdown {
						margin-bottom: .5rem;
						&:after {
							bottom: -3px;
							left:42%;
						}
					}
				}
			}
			ul.dropdown {
				li {
					a {
						margin:.8rem 0;
						padding: 0;
						font-size: .7rem;
					}
				}
			}
		}
	}
	section.subpage-blue {

		h1 {
			padding-left:7rem;
			span.header-icon {
				top:-5px;
				left:35px;
			}
		}

	}
	.message-push {
		margin-top: 2rem;
		textarea {
			height: 12rem;
		}
	}
    .icon-set {
        img {
            width:80%;
            margin:0 auto;
            display:block;
        }
    }
}
@media #{$large-only} {
	h3.has-icon {
		font-size: 1.2rem;
	}
}
@media #{$large-up} {
	section.slider {
		height: 670px;
		.orbit-container .orbit-slides-container > * .orbit-caption {
			top:25%;
		}
	}
	.orbit-container {
		height: 670px;
	}


	section.welcome h2 {
		margin-bottom: 4rem;
	}
	section.slider {
		h1 {
			padding-top: 2rem;
			position: relative;
			&:before {
				content: url(../img/book-icon.svg);
				position: absolute;
				width: 70px;
				height: 70px;
				top:-60px;
				left: 48%;
			}
		}
		h2 {
			margin-bottom: 1rem;
		}
	}
	section.subpage-blue {
		padding-top: 3.5rem;
		h2 {
			position: relative;
			span.about-icon {
				position: absolute;
				top:60%;
				right:-30%;
				width: 20%;
				height: 20%;
			}
		}
		h3 {
			position: relative;
			span.prescribe-icons {
				position: absolute;
				top:-.8rem;
				left:-4rem;
				width: 4rem;
				height: 4rem;
			}
		}

	}
}
@media #{$xlarge-up}{
	section.main-nav {
		width: 12.5rem;
	}
	section.slider {
		margin-left: 200px;
		.orbit-container .orbit-slides-container > * .orbit-caption {
			top:20%;
		}
	}
	hr.dd-divider {
		margin-left: 3rem;
	}
	.main-container {
		margin-left: 12.5rem;
	}
	section.main-nav {
		.logo-wrap {
			height: 10.5rem;
			padding: 2rem 1rem;
			img {
				margin-top: 25%;
			}
		}
		ul {
			li {
				a {
					font-size: 1.2rem;
					span {
						margin-top: 1.1rem;
					}
					span.packs-dropdown {
						&:after {
							bottom: -7px;
							left:45%;
						}
					}
				}
			}
		}
	}
	section.welcome {
		padding-top: 2rem;
	}
}
@media screen and ( max-height: 880px ){ //HEIGHT BASED MEDIA QUEEEERY
    section.main-nav {
		.logo-wrap {
			height: 6rem;
			padding: 1rem;
			img {
				margin-top: 1rem;
			}
		}
		ul {
			li {
				a {
					padding: 1.5rem;
					font-size: .9rem;
					img {
						width: 25%;
					}
					span {
						margin-top: .4rem;
					}
					span.packs-dropdown {
						margin-bottom: .5rem;
						&:after {
							bottom: -3px;
							left:42%;
						}
					}
				}
			}
			ul.dropdown {
				li {
					a {
						margin:.8rem 0;
						padding: 0;
						font-size: .7rem;
					}
				}
			}
		}
	}
}
